{% extends '../layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/dist/css/searchDetail.css">
{% endblock%}

{% block body %}
	{% include "../global/head-top.html" ignore missing %}
	<div class="search-detail-w">
		<div class="search-detail">
			<div class="search-detail-header">
				<div class="detail-header-left">
					<div class="tag">
						<a href="javascript:;">前端</a>
						<a href="javascript:;">百度</a>
						<a href="javascript:;">深度学习</a>
					</div>
					<h2>如何评价百度刚刚开源的mobile-deep-learning？</h2>
					<ul class="info">
						<li>
							<a href="javascript:;">
								<i class="iconfont icon-huifu"></i>
								<span>66条评论</span>
							</a>
						</li>	
						<li>
							<a href="javascript:;">
								<i class="iconfont icon-fenxiang"></i>
								<span>分享好友</span>	
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="iconfont icon-shoucang"></i>
								<span>干货收藏</span>	
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<i class="iconfont icon-suoxiao"></i>
								<span>缩小返回</span>	
							</a>
						</li>
					</ul>
				</div>			
			</div>	
		</div>
	</div>
{% endblock %}



{% block js %}

{% endblock %}