@import 'public.less';
@import 'common.less';
html,body{
	height: 100%;
	width: 100%;
	background: #f2f2f2;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.main-content{
	height: 100%;
}
.index-w{
	.flex();
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	background: #f4f8fb;
	height: 100%;
	position: relative;
	z-index: 1;
	.tootip{
		&:before{
			z-index: 1001;
			border: 6px solid transparent;
			background: 0 0;
			content: "";
			position: absolute;
		}
		&:after{
			z-index: 999999;
			padding: 8px;
			max-width: 160px;
			background-color: #000;
			background-color: rgba(51,51,51,.95);
			color: #fff;
			content: attr(data-tooltip);
			font-size: 12px;
			line-height: 1.2;
			white-space: nowrap;
			text-transform: none;
			border-radius: 2px;
			background-clip: padding-box;
			position: absolute;
		}
		&:before,&:after{
			opacity: 0;
			-webkit-transition: opacity .2s ease-in-out,visibility .2s ease-in-out,-webkit-transform .2s cubic-bezier(.71,1.7,.77,1.24);
		    -moz-transition: opacity .2s ease-in-out,visibility .2s ease-in-out,-moz-transform .2s cubic-bezier(.71,1.7,.77,1.24);
		    transition: opacity .2s ease-in-out,visibility .2s ease-in-out,transform .2s cubic-bezier(.71,1.7,.77,1.24);
		    -webkit-transform: translate3d(0,0,0);
		    -moz-transform: translate3d(0,0,0);
		    transform: translate3d(0,0,0);
		    pointer-events: none;
		}
	}
	.tootip-left{
		&:before{
			margin-left: 0;
			margin-right: -12px;
			margin-bottom: 0;
			border-top-color: transparent;
			border-left-color: rgba(51,51,51,.95);
			top: 3px;
		}
		&:before,&:after{
			right: 100%;
			bottom: 50%;
			left: auto;
		}
		&:after{
			margin-left: 0;
			margin-bottom: -16px;
		}
		&:hover{
			&:before,&:after{
				opacity: 1;
				-webkit-transform: translateX(-12px);
				-moz-transform: translateX(-12px);
				transform: translateX(-12px);
			}
		}
	}
	.scrollbar{
		&::-webkit-scrollbar{
			background: 0 0;
			width: 0;
			position: relative;
		}
		&::-webkit-scrollbar-track {
			background: 0 0;
		}
		&::-webkit-scrollbar-thumb {
		    background: transparent;
		    border-radius: 10px;
		}
		&::-webkit-scrollbar-button {
		    width: 0;
		    height: 0;
		    display: none;
		}
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}	
	}
	.source-list-w{
		height: 100%;
		min-width: 246px;
		flex: 0 0 0;
		.source-list{
			background: #fff;
			border-right: 1px solid #eceef1;
			height: 100%;			
			.source-list-header{
				.flex();
				background: #f4f8fb;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 9px;
				height: 45px;
				border-bottom: 1px solid #eceef1;
				-webkit-box-pack: space-between;
				-moz-box-pack: justify;
				-webkit-justify-content: justify;
				-ms-flex-pack: space-between;
				justify-content: space-between;
				.filter{
					position: relative;
					z-index: 1;
					padding-left: 45px;
					i{
						display: block;
						width: 30px;
						text-align: center;
						position: absolute;
						left: 5px;
						top: 0;
						line-height: 26px;
						color: #899299;
					}
					.filter-text{
						display: block;
						border: none;
						background: 0 0;
						font-family: Montserrat,sans-serif;
						font-weight: 400;
						font-style: normal;
						color: #2a3e52;
						padding: 0;
						margin: 0;
						height: 26px;
						width: 148px;
						font-size: 12px;
						line-height: 26px;
					}
				}
			}
			.source-list-cnt{
				height: calc(~"100% - 45px");
				overflow-y: auto;
				background: #fff;
				.source-list-box{
					.list-box-tit{
						.flex();
						align-item: center;
						position: relative;
						z-index: 1;
						padding: 16px 14px;
						i{
							color: #556574;
							margin: 0 16px 0 0;
						}
						.bold{
							font-weight: bold;
						}	
						h2{
							flex: 1 1 auto;
						}
						.arrow{
							position: relative;
							z-index: 1;	
							&:before{
								width: 0px;
								height: 0px;
								border-width: 8px;
								border-style: solid;
									
								content: "";
								position: absolute;
								right: 0;
							}
						}
						.arrow-up{
							&:before{
								border-color: #546473 transparent transparent transparent;
								top: 4px;	
							}
						}
						.arrow-left{
							&:before{
								border-color: transparent #546473  transparent transparent;
								bottom: 4px;	
							}
						}
					}
					.list-box-cnt{
						.list-item{
							.flex();
							text-align: left;
							justify-content: inherit;
							-webkit-justify-content: inherit;
							align-items: center;
							position: relative;
							padding: 5px 14px;
							height: 30px;
							color: #87969d;
							cursor: pointer;
							-webkit-touch-callout: none;
							-webkit-user-select: none;
							-khtml-user-select: none;
							-moz-user-select: none;
							-ms-user-select: none;
							user-select: none;
							-moz-transition: all .2s ease-out;
							-o-transition: all .2s ease-out;
							-ms-transition: all .2s ease-out;
							-webkit-transition: all .2s ease-out;
							transition: all .2s ease-out;
							img{
								flex: 0 0 30px;
								height: 30px;
								border-radius: 3px;
								margin: 0 10px 0 0;
							}
							h4{
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								flex: 1 1 auto;
							}
							span{
								border: 1px solid #edeef0;
								color: #8e9ca3;
								padding: 2px;
								border-radius: 2px;
								position: relative;
								z-index: 1;
							}
						}
						.active{
							border-left: 5px solid #2a3e52;
						    color: #2a3e52;
						    background: #f4f8fb;
						}
					}
				}	
			}
		}	
	}
	
	.list-column{
		-moz-flex: 0 0 425px;
		-ms-flex: 0 0 425px;
		-webkit-flex: 0 0 425px;
		flex: 0 0 425px;
		width: 425px;
		height: 100%;
		background: #fff;
		border-right: 1px solid #eceef1;
		z-index: 300;
		.list-column-header{
			.flex();
			height: 45px;
			border-bottom: 1px solid #eceef1;
			margin: 0;
			background: #f4f8fb;
			border-radius: 0;
			justify-content: space-between;
			-webkit-justify-content: space-between;
			width: 100%;
			padding: 5px;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
			position: relative;	
			.toolbar-w{
				.flex();
				width: 100%;
				padding: 4px;
				justify-content: flex-end;
				.subsources{
					margin-right: auto;
					margin-left: 0;
					order: 1;
					.select-container{
						width: 100px;
					    display: inline-block;
					    vertical-align: top;
					    position: relative;
					    z-index: 2;
					    border: 1px solid #eceef1;
					    border-radius: 2px;
					    -webkit-box-shadow: none;
					    -moz-box-shadow: none;
					    box-shadow: none;
					    overflow: hidden;
					    .active-option{
							background: #fff;
							color: #87969d;
							height: 24px;
							line-height: 23px;
							padding: 0 22px 0 6px;
							border-radius: 2px;
							background-clip: padding-box;
							-moz-transition: all .2s ease-out;
							-ms-transition: all .2s ease-out;
							-o-transition: all .2s ease-out;
							-webkit-transition: all .2s ease-out;
							transition: all .2s ease-out;
							text-align: left;
							position: relative;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							.option-text{
								font-size: 12px;
								top: -2px;
								text-transform: uppercase;
							}
							.caret{
								position: absolute;
								z-index: 1;
								right: 6px;
								top: 2px;
								&:before{
									width: 0px;
									height: 0px;
									border-width: 6px;
									border-style: solid;
									content: "";
									position: absolute;
									right: 0;
									top: 7px;
									border-color: #546473 transparent transparent transparent;	
								}
							}
					    }
					    .select-options{
							max-width: 116px;
							display: none;
							position: relative;
							z-index: 1000;
							background: #eef2f3;
							color: #9B9B9B;
							-webkit-border-radius: 2px;
							-webkit-background-clip: padding-box;
							-moz-border-radius: 2px;
							-moz-background-clip: padding;
							border-radius: 2px;
							background-clip: padding-box;
							background: #fff;
							color: #87969d;
							.select-option{
								position: relative;
								text-align: left;
								line-height: 24px;
								cursor: pointer;
								color: #87969d;
								padding: 0 6px;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
								&:hover{
									background: #3373d5;
									color: #fff;
								}
								.option-text{
									font-size: 11px;
									text-transform: uppercase;
								}
							}
					    }
					    &:hover{
					    	.select-options{
					    		display: block;
					    	}
					    }
					}
				}
				.search-button{
					order: 2;
				    width: 24px;
				    height: 24px;
				    line-height: 25px;
				    font-size: 12px;
				    text-align: center;
				    border: 1px solid #eceef1;
				    border-radius: 2px;
				    font-weight: 700;
				    cursor: pointer;
				    color: #9B9B9B;
				    -moz-transition: all .2s ease-out;
				    -ms-transition: all .2s ease-out;
				    -o-transition: all .2s ease-out;
				    -webkit-transition: all .2s ease-out;
				    transition: all .2s ease-out;
				    background: #fff;
				}
				.hot-sorting{
					order: 3;
				    height: 24px;
				    line-height: 25px;
				    font-size: 12px;
				    text-align: center;
				    border: 1px solid #eceef1;
				    border-radius: 2px;
				    font-weight: 700;
				    cursor: pointer;
				    color: #9B9B9B;
				    -moz-transition: all .2s ease-out;
				    -ms-transition: all .2s ease-out;
				    -o-transition: all .2s ease-out;
				    -webkit-transition: all .2s ease-out;
				    transition: all .2s ease-out;
				    background: #fff;
				    padding: 0 6px;
				    margin-left: 6px;
				}
			}	
		}
		.column-container{
			display: flex;
			display: -webkit-flex;
			flex-direction: column;
			-webkit-flex-direction: column;
			justify-content: flex-start;
			-webkit-justify-content: flex-start;
			align-content: space-between;
			-webkit-align-content: space-between;
			flex-wrap: wrap;
			-webkit-flex-wrap: wrap;
			height: 100%;
			-webkit-flex-wrap: nowrap;
			-ms-flex-wrap: nowrap;
			flex-wrap: nowrap;
			.content-inc{
				z-index: 1;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-flex: 2;
				-moz-box-flex: 2;
				-webkit-flex: 2 2 0px;
				-ms-flex: 2 2 0px;
				flex: 2 2 0px;
				width: 100%;
				min-height: 100px;
				padding: 0 0 95px 0;
				.column-scrollable{
					overflow-y: auto;
					overflow-x: hidden;
					width: 100%;
					transform: translateZ(0);
					.list-column-cnt{
						display: flex;
						display: -webkit-flex;
						flex-direction: row;
						-webkit-flex-direction: row;
						justify-content: space-between;
						-webkit-justify-content: space-between;
						flex-wrap: wrap;
						-webkit-flex-wrap: wrap;
						width: 100%;
						-webkit-box-pack: flex-start;
						-moz-box-pack: start;
						-webkit-justify-content: start;
						-ms-flex-pack: flex-start;
						justify-content: flex-start;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						height: auto;
						li{
							padding: 10px;
							width: 100%;
							min-height: 30px;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							border-bottom: 1px solid #eceef1; 
							.news-box{
								.flex();
								margin: 5px;
								.number{
									flex: 0 0 30px;
									height: 30px;
									margin: 0 10px 0 0;
								    font-family: Montserrat;
								    font-size: 18px;
								    text-align: center;
								    line-height: 30px;
								    color: #fff;
								    background: #3373d5;
								    border-radius: 2px;
								}
								.article-info{
									flex: 1 1 auto;
									.article-tit{
										margin: 0 0 12px 0;
										color: #2a3e52;
										line-height: 20px;
									}
								}	
								.article-tag{
									opacity: 0;
									flex: 0 0 20px;
									height: 20px;
									border: 1px solid #e3e3e3;
									border-radius: 3px;
									text-align: center;
									line-height: 17px;
									color: #273d4b;
									background: #e9f3fa;
									margin: 0 0 0 10px;
									position: relative;
									z-index: 1;
									i{
										font-size: 12px;
									}
								}
								.article-detail{
									overflow: hidden;
									span{
										color: #717171;
										font-size: 12px;	
										float: left;
										display: block;
										&:after{
											content: '|';
											margin: 0 5px;
										}
										&:last-child{
											&:after{
												content: '';
											}
										}
									}
								}
								.article-comment-avatar{
									overflow: hidden;
									em{
										display: block;
										width: 20px;
										height: 20px;
										border-radius: 10px;
										float: left;
										margin: 0 2px 0 0;
										overflow: hidden;
									}
									.total-num{
										vertical-align: middle;
										padding: 0 5px;
										text-align: center;
										color: #fff;
										background: #3373d5;
										border-radius: 20px;
										height: 22px;
										line-height: 22px;
										margin: 0 0 0 5px;
									}
								}
							}
							&:hover{
								.article-tag{
									opacity: 1;
								}
							}
						}
						.visited{
							background: #f4f8fb;
							.news-box{
								.number{
									background: #87969d;
								}	
							}
						}
					}	
				}	
			}
		}
	}
	.article-preview{
		flex: 1 1 auto;
		background-color: #fff;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		height: 100%;
		.article-preview-header{
			.flex();
			align-items: center;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			background: #f4f8fb;
			padding: 9px 14px 9px 9px;
			height: 45px;
			border-bottom: 1px solid #eceef1;
			position: relative;
			z-index: 300;
			.preview-header-icon{
				.flex();
				-webkit-box-pack: flex-end;
				-moz-box-pack: end;
				-webkit-justify-content: end;
				-ms-flex-pack: flex-end;
				justify-content: flex-end;
				align-items: center;
				-webkit-align-items: center;
				a{
					width: 30px;
					height: 30px;
					line-height: 30px;
					margin-left: 10px;
					color: #87969d;
					background: #f4f8fb;
					border: 1px solid #eceef1;
					text-align: center;
					border-radius: 2px;
					&:hover{
						color: #2a3e52;
					}
				}
			}
		}
		.article-preview-cnt{
			background: #fff;
			padding: 28px 28px 100px 28px;
			width: 100%;
			-webkit-box-sizing: border-box;
		    -moz-box-sizing: border-box;
		    box-sizing: border-box;
		    height: 100%;
		    overflow-y: auto;
			.article{
				max-width: 700px;
				margin: 0 auto;
				.tit{
					font-size: 20px;
				}
				.author{
					margin:24px 0 30px 0;
					.flex();
					-webkit-justify-content: flex-start;
					justify-content: flex-start;
					-webkit-align-items: center; 
					align-items: center; 
					.info{
						margin: 0 20px 0 10px;
						span{
							color: #87969d;
						}
					}
					.btn{
						padding: 0 7px;
						font-size: 12px;
						height: 24px;
						line-height: 24px;
						color: #fff;
						text-align: center;
						background: #6dd977;
						display: inline-flex;
						border-radius: 15px;
					}
				}
				.show{
					color: #2a3e52;
					word-break: break-word!important;
					word-break: break-all;
					font-size: 16px;
					font-weight: 400;
					line-height: 1.7;
					img{
						max-width: 100%;
						text-align: center;
						display: block;
						margin: 0 auto;
					}
					pre{
						margin-bottom: 20px;
						padding: 15px;
						font-size: 13px;
						word-wrap: normal;
						word-break: break-all;
						white-space: pre;
						overflow: auto;
						border-radius: 0;	
						background: #f6f6f6;
						color: #657b83;	
						display: block;
						border: 1px solid #ccc;
					}
					p{
						a{
							color: #3194d0;
						}
					}
				}
				.tag{
					.flex();
					justify-content: flex-start;
					margin: 22px 0 24px 0;
					a{
						padding:6px 13px;
						text-align: center;
						border: 1px solid #f2f2f2;
						border-radius: 2px;	
						margin: 0 14px 0 0;
						background: #f4f8fb;
						color: #899299;
					}
				}
				.share{
					a{
						margin: 0 14px 0 0;
						color: #899299;
						&:hover{
							color: #2a3e52;
						}
					}
				}
				.like{
					text-align: center;	
					margin: 0 0 14px 0;
					.btn-like{
						display: inline-block;
						padding: 15px 25px;
						border-radius: 20px;
						color: #fff;
						background: #6dd977;
						i{
							margin: 0 5px 0 0;
						}
					}
				}
				.comment{
					.comment-tit{
						position: relative;
						z-index: 1;
						margin: 0 0 30px 0;
						span{
							background: #fff;
							color: #899299;
							padding: 0 14px 0 0;
							position: relative;
							z-index: 2;
						}
						.line{
							width: 100%;
							height: 1px;
							position: absolute;
							z-index: 1;
							right: 0;
							background: #f2f2f2;
							top: 50%;
							margin-top: -1px;
						}
					}
					.new-comment{
						.flex();
						justify-content: flex-start;
						.avatar{
							flex: 0 0 38px;
							height: 38px;
							margin: 0 12px 0 0;
							overflow: hidden;
							text-align: center;
						}
						.write-msg{
							flex: 1 1 auto;
							textarea{
								padding: 10px 15px;
								width: 100%;
								height: 80px;
								font-size: 13px;
								border: 1px solid #dcdcdc;
								border-radius: 4px;
								background: #f2f2f2;
								resize: none;
								vertical-align: top;
								box-sizing: border-box;
							}	
							.send-detail-w{
								display: none;
								.send-detail{
									.flex();
									justify-content: space-between;
									padding: 8px 0;
									margin: 8px 0;
									.emoji{
										padding: 0 0 0 14px;
										color: #a6adb2;
										&:hover{
											i{
												color: #2f2f2f;
											}
										}
										i{
											font-size: 26px;
										}
									}
									.btn-w{
										.btn{
											padding: 8px 16px;
											border-radius: 20px;
											text-align: center;
											color: #fff;
											background: #6dd977;
											font-size: 16px;
											margin: 0 20px 0 0;
											cursor: pointer;
										}	
										.cancel{
											background: none;
											color: #a4afb7;
										}
									}
								}	
							}
						}
					}
					.comment-list{
						.comment-w{
							padding: 20px 0 30px;
							border-bottom: 1px solid #f0f0f0;
							.comment-box{
								.author{
									margin-bottom: 15px;
									margin-top: 0;
									.info{

										a{
											display: block;
											color: #2a3e52;
										}
										span{
											color: #90989f;
										}
									}
								}
								.comment-wrap{
									p{
										margin: 0 0 15px 0;
									}
									.tool-group{
										a{
											color: #a4afb7;
											margin: 0 30px 0 0;
										}
									}
								}
							}
							.sub-comment-list{
								padding: 0 0 0 14px;
								margin: 28px 0 0 0;
								border-left: 1px solid #f2f2f2;
								.sub-comment-box{
									margin: 0 0 15px 0;
									padding: 0 0 15px 0;
									border-bottom: 1px dashed #f2f2f2;
									p{
										margin: 0 0 14px 0;
										line-height: 1.5;
										a{
											color: #2ea9df;
										}
									}
									.sub-tool-group{
										a{
											color: #a4afb7;
											margin: 0 30px 0 0;
										}
									}
								}
								.more-comment{
									color: #a4afb7;
									.add-comment-btn{
										i{
											margin: 0 15px 0 0;
										}
									}
									a{
										color: #a4afb7;
									}
									.line-wrap{
										margin: 0 0 0 10px;
										padding: 0 0 0 10px;
										border-left: 1px solid #a6adb2;	
										a{
											color: #2ea9df;
										}
									}
								}
								.new-comment-w{
									display: none;
								}
								.new-comment{
									margin: 15px 0 0 0;
								}
							}
							&:last-child{
								border-bottom: none;
							}	
						}
					}
				}
			}
		}	
	}
}