/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------
基础flex布局
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.flex(){
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content:center;
    -webkit-justify-content:center;
}
.flex-column(){
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content:center;
    -webkit-justify-content:center;
}

