<div class="attention-list">
	<h2 class="attention-list-tit">我的粉丝</h2>
	<ul class="attention-list-cnt">
		<li class="attention-item">
			<div class="author">
				<a href="javascript:;" class="avatar">
					<img src="/img/avatar2.png">
				</a>
				<div class="info">
					<h4>知乎</h4>
					<span>暂无个性签名</span>
				</div>
			</div>
			<a href="javascript:;" class="btn-attention btn-to-attention"></a>		
		</li>
		<li class="attention-item">
			<div class="author">
				<a href="javascript:;" class="avatar">
					<img src="/img/avatar2.png">
				</a>
				<div class="info">
					<h4>知乎</h4>
					<span>暂无个性签名</span>
				</div>
			</div>
			<a href="javascript:;" class="btn-attention btn-to-attention"></a>		
		</li>
		<li class="attention-item">
			<div class="author">
				<a href="javascript:;" class="avatar">
					<img src="/img/avatar2.png">
				</a>
				<div class="info">
					<h4>知乎</h4>
					<span>暂无个性签名</span>
				</div>
			</div>
			<a href="javascript:;" class="btn-attention btn-to-attention"></a>		
		</li>
		<li class="attention-item">
			<div class="author">
				<a href="javascript:;" class="avatar">
					<img src="/img/avatar2.png">
				</a>
				<div class="info">
					<h4>知乎</h4>
					<span>暂无个性签名</span>
				</div>
			</div>
			<a href="javascript:;" class="btn-attention btn-to-attention"></a>		
		</li>
		<li class="attention-item">
			<div class="author">
				<a href="javascript:;" class="avatar">
					<img src="/img/avatar2.png">
				</a>
				<div class="info">
					<h4>知乎</h4>
					<span>暂无个性签名</span>
				</div>
			</div>
			<a href="javascript:;" class="btn-attention btn-to-attention"></a>		
		</li>
	</ul>
</div>
