<!-- 浏览历史 -->
<div class="history">
	<h2 class="history-tit">
		<span>浏览历史</span>
		<a href="javascript:;">清空记录</a>	
	</h2>
	<ul class="history-cnt">
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
		<li class="history-item">
			<div class="item-info">
				<h3>透过 js-beautify@1.7.0 的 Bug 来看，npm 默认的 lock机制是否重要？</h3>
				<p><span>99赞</span> <span>66评论</span> <span>19小时前</span> <span> 知乎</span></p>
			</div>
			<a href="javascript:;">删除</a>	
		</li>
	</ul>	
</div>