{% extends '../layout/layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{loadmap.css}}">
{% endblock%}

{% block body %}
	{% include "../global/head-top.html" ignore missing %}
	<div class="form-wrap">
		<div class="form-main">
			<form class="main-box" >
				<p class="box-img">
					<img src="/img/login-logo.png" />
					<span>beeman</span>
				</p>
				<div class="box-row">
					<input type="text" name="" placeholder="请输入手机号">
				</div>
				<div class="box-row">
					<input type="text" name="" placeholder="请输入密码">
				</div>
				<!-- <p class="err-tip">
					<i class="iconfont icon-guanbi1"></i>
					<span>请输入正确的账号或密码</span>
				</p> -->
				<button type="button" class="box-btn box-btn-green j-e-login">登录</button>
				<div class="box-row justify-right">
					<a href="/findpwd">忘记密码</a>
				</div>
			</form>	
			<p class="main-bottom">
				还没有账号<a href="/register" class="j-e-register">立即注册</a>
				</span>	
			</p>		
		</div>
	</div>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{loadmap.js}}"></script>
{% endblock %}