@import '../common/public.less';
@import '../common/common.less';
@import '../common/detail.less';
.search-detail-w{
	background: #f2f2f2;
	padding: 3px 0 66px 0;
	.search-detail{
		.search-detail-header-w{
			background: #fff;
			.search-detail-header{
				.flex();
				justify-content: space-between;
				align-items: center;
				padding: 18px 0 28px 30px;
				max-width: 1280px;
				margin: 0 auto;
				box-sizing: border-box;
				.detail-header-left{
					.tag{
						.flex();
						justify-content: flex-start;
						a{
							color: #1FAB89;
							background: #f4f8fb; 
							border: 1px solid #f0f0f2;
							padding: 6px 14px;
							border-radius: 20px;
							margin: 0 14px 0 0;
							&:hover{
								background: #006741;
								color: #fff;
							}
						}
					}
					h2{
						color: #2a3e52;
						font-size: 36px;
						margin: 20px 0 32px 0;
						line-height: 48px;
					}
					.info{
						.flex();
						justify-content: flex-start;
						li{
							margin: 0 30px 0 0;
							font-size: 16px;
							a{
								color: #a4afb7;	
								&:hover{
									color: #2a3e52;
								}
							}
						}
					}
				}
				.detail-header-right{
					.flex();
					flex: 0 0 auto;
					.right-num-box{
						padding: 0 35px;
						text-align: center;
						p{
							color: #87969d;
							font-size: 18px;
							margin: 0 0 12px 0;
						}
						span{
							color: #2a3e52;
							font-size: 20px;
						}
						&:first-child{
							border-right: 1px solid #f2f2f2;
						}
					}
					// justify-content: right;
				}
			}
		}
		.search-detail-main{
			max-width: 1280px;
			margin: 0 auto;	
			min-height: 1000px;
			.search-detail-main-tit{
				padding: 30px 0 30px 30px;
				.flex();
				justify-content: flex-end;
				h1{
					font-size: 40px;
					color: #3f3f3f;
				}
				a{
					font-size: 18px;
					color: #2e2e2e;
				}
			}
			.search-detail-main-cnt{
				.flex();
				justify-content: space-between;
				.detail-main-left{
					flex: 1 1 auto;
					margin-right: 14px;
					.article{
						background: #fff;
						border-radius: 5px;
						box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
						padding:30px;
						.tit{
							font-size: 20px;
						}
						.author-detail{
							margin:-100px 0 30px 0;
							.flex();
							justify-content: flex-start;
							align-items: flex-end; 
							.avatar-img{
								box-sizing: border-box;
								flex: 0 0 138px;
								height: 138px;
								img{
									border-radius: 132px;
									box-shadow: 0 2px 4px 0 #D1D1D1;
									padding: 3px;
									background: #fff;
								}
							}
							.info{
								margin: 0 20px 0 10px;
								padding: 0 0 10px 0;
								font-size: 18px;
								line-height: 24px;
								span{
									color: #87969d;
								}
							}
							.btn{
								padding: 0 7px;
								font-size: 12px;
								height: 24px;
								line-height: 24px;
								color: #fff;
								text-align: center;
								background: #ff9090;
								display: inline-flex;
								border-radius: 15px;
							}
						}
					}
				}
				.detail-main-right{
					flex: 0 0 286px;
					.side-box{
						border-radius: 5px;
						box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
						background: #fff;
						margin: 0 0 28px 0;
						.side-box-tit{
							padding: 14px;
							color: #2a3e52;
							border-bottom: 1px solid #f2f2f2;
						}
						.side-box-cnt{
							padding: 0 14px;
						}
					}	
					.about-box{
						color: #2a3e52;
						.author{
							padding: 15px 0; 
							border-bottom: 1px solid #f2f2f2;
							.flex();
							align-items: center;
							justify-content: flex-start;
							.avatar{
								flex: 0 0 58px;
								height: 58px;
								overflow: hidden;
								margin: 0 14px 0 0;
							}
							.info{
								color: #2a3e52;
								h4{
									font-size: 20px;
									font-weight: 600;	
									margin: 0 0 10px 0;
								}
								span{
									color: #87969d;
								}
							}
						}
						.des{
							padding: 13px 0;
							border-bottom: 1px solid #f2f2f2;
							text-align: center;
						}
						.data{
							padding: 15px 0 40px 0;
							.flex();
							justify-content: space-around;
							dl{
								text-align: center;
								dt{
									padding: 0 0 14px 0;
								}
								dd{
									color: #010F0C;
									font-size: 18px;
									font-weight: 600;
								}
							}
						}
						.relate{
							.flex();
							padding: 0 0 12px 0;
							justify-content: space-between;
							a{
								border-radius: 4px;
								border: 1px solid #d7dcdf;
								color: #87969d;
								font-size: 16px;
								display: block;
								width: 120px;
								padding: 10px 0;
								text-align: center;
								&:first-child{
									background: #1FAB89;
									color: #fff;
									border: 1px solid #1FAB89;
									&:before{
										content:'已关注';
									}
									&:hover{
										&:before{
											content: '取消关注';
										}
									}
								}
							}
						}
					}
					.ad-box{
						.ad-box-pic{
							img{
								border-radius: 4px;
								display: block;
							}
						}
					}
					.article-box{
						.side-box-cnt{
							padding: 20px 14px 0 14px;
							li{
								padding: 0 0 15px 0;
								line-height: 22px;
								color: #a4afb7;
								font-size: 15px;
								a{
									color: #1FAB89;
								}
							}	
						}
					}		
				}
			}
		}
	}
}