@import '../public.less';
@import '../common.less';
.search-detail-w{
	max-width: 1280px;
	margin: 0 auto;
	.search-detail{
		.search-detail-header{
			.flex();
			justify-content: left;
			padding: 18px 0 28px 30px;
			.detail-header-left{
				.tag{
					.flex();
					justify-content: left;
					a{
						color: #3e7ac2;
						background: #f4f8fb; 
						border: 1px solid #f5f5f5;
						padding: 6px 14px;
						border-radius: 20px;
						margin: 0 14px 0 0;
					}
				}
				h2{
					color: #2a3e52;
					font-size: 22px;
					margin: 20px 0 32px 0;
				}
				.info{
					.flex();
					justify-content: left;
					li{
						margin: 0 30px 0 0;
						font-size: 16px;
						a{
							color: #a4afb7;	
						}
					}
				}
			}
		}
	}
}