@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoxi:before { content: "\e600"; }

.icon-pencil:before { content: "\e72d"; }

.icon-dianzanhou:before { content: "\e628"; }

.icon-shuxie:before { content: "\e637"; }

.icon-footer-news:before { content: "\e65d"; }

.icon-fenxiang:before { content: "\e666"; }

.icon-fangda:before { content: "\e668"; }

.icon-gerenzhongxin:before { content: "\e669"; }

.icon-huifu:before { content: "\e66a"; }

.icon-mima-chakanyincang:before { content: "\e66b"; }

.icon-shezhi:before { content: "\e66d"; }

.icon-sixin:before { content: "\e66e"; }

.icon-remen:before { content: "\e670"; }

.icon-shoucang:before { content: "\e671"; }

.icon-xiaoxitongzhi:before { content: "\e672"; }

.icon-tuichu:before { content: "\e673"; }

.icon-zuixindongtai:before { content: "\e675"; }

.icon-python:before { content: "\e66c"; }

.icon-css:before { content: "\e66f"; }

.icon-mongoDB:before { content: "\e674"; }

.icon-swift:before { content: "\e676"; }

.icon-nodejs:before { content: "\e677"; }

.icon-cassandra:before { content: "\e678"; }

.icon-social-angular:before { content: "\e679"; }

.icon-NEOJ:before { content: "\e67a"; }

.icon-postgresql:before { content: "\e67b"; }

.icon-fe-webpack:before { content: "\e67c"; }

.icon-dbs-couchdb:before { content: "\e67d"; }

.icon-PHPkaifa:before { content: "\e67e"; }

.icon-redis:before { content: "\e67f"; }

.icon-java:before { content: "\e680"; }

.icon-vue:before { content: "\e681"; }

.icon-react:before { content: "\e682"; }

.icon-weixinxiaochengxu:before { content: "\e683"; }

.icon-es:before { content: "\e684"; }

.icon-Express:before { content: "\e685"; }

.icon-Canvas:before { content: "\e686"; }

.icon-WebGL:before { content: "\e687"; }

.icon-koa:before { content: "\e688"; }

.icon-D:before { content: "\e689"; }

.icon-go:before { content: "\e68a"; }

.icon-Websocket:before { content: "\e68b"; }

.icon-Egg:before { content: "\e68c"; }

.icon-Three:before { content: "\e68d"; }

.icon-WebRTC:before { content: "\e68e"; }

.icon-svg:before { content: "\e68f"; }

.icon-Influxdb:before { content: "\e690"; }

.icon-xiangyingshijiagou:before { content: "\e691"; }

.icon-fenbushifuwujiagou:before { content: "\e692"; }

.icon-weifuwu:before { content: "\e693"; }

.icon-Memcachedb:before { content: "\e694"; }

.icon-Flare:before { content: "\e695"; }

.icon-BerkeleyDB:before { content: "\e696"; }

.icon-Memlink:before { content: "\e697"; }

.icon-lingyuqudongDDD:before { content: "\e698"; }

.icon-hbase:before { content: "\e699"; }

.icon-dbo:before { content: "\e69a"; }

.icon-SOA:before { content: "\e69b"; }

.icon-TokyoCabinet:before { content: "\e69c"; }

.icon-BaseX:before { content: "\e69e"; }

.icon-Versant:before { content: "\e69f"; }

.icon-sql:before { content: "\e6a0"; }

.icon-TokyoTyrant:before { content: "\e6a1"; }

.icon-TiDB:before { content: "\e6a2"; }

.icon-c:before { content: "\e6a3"; }

.icon-r:before { content: "\e6a4"; }

.icon-Hypertable1:before { content: "\e6a5"; }

.icon-gongju:before { content: "\e69d"; }

.icon-kuangjia:before { content: "\e6a6"; }

.icon-yuyan:before { content: "\e6a7"; }

.icon-jishubiaozhun:before { content: "\e6a8"; }

.icon-shujuku:before { content: "\e6a9"; }

.icon-jiagou:before { content: "\e6aa"; }

.icon-houduan:before { content: "\e6ab"; }

.icon-qianduan:before { content: "\e6ac"; }

.icon-sousuo:before { content: "\e6ad"; }

.icon-suoxiao:before { content: "\e6ae"; }

.icon-biaoqing:before { content: "\e6af"; }

.icon-yonghuming:before { content: "\e6b0"; }

.icon-shoujihao:before { content: "\e6b1"; }

.icon-mima:before { content: "\e6b2"; }

.icon-guanbi:before { content: "\e6b3"; }
