{% block css %}
<link rel="stylesheet" type="text/css" href="/dist/css/dialog.css">
{% endblock%}
<div class="dialog-w hide">
	<div class="dialog">
		<div class="dialog-cnt">
			<div class="dialog-scene"></div>
			<h1 class="tit">注册</h1>
			<p class="des">干货都是留给有准备的人</p>
			<form class="form-box login-box hide" >
				<div class="form-row">
					<input type="text" name="" placeholder="请您输入账户">
					<i class="iconfont icon-yonghuming"></i>
				</div>
				<div class="form-row">
					<input type="text" name="" placeholder="请您输入密码">
					<i class="iconfont icon-mima"></i>
					<em class="iconfont icon-mima-chakanyincang"></em>
				</div>
				<div class="form-row justify-right">
					<a href="javascript:;">忘记密码</a>
				</div>
				<div class="form-row">
					<button type="button" class="btn btn-green btn-login">登录</button>
				</div>
				<p class="tip">
					想用手机注册账户<a href="javascript:;">注册</a>
					</span>	
				</p>
			</form>
			<form class="form-box reg-box">
				<div class="form-row">
					<input type="text" name="" placeholder="请您输入用户名">
					<i class="iconfont icon-yonghuming"></i>
				</div>
				<div class="form-row">
					<input type="text" name="" placeholder="请您输入手机号">
					<i class="iconfont icon-shoujihao"></i>
				</div>
				<div class="form-row">
					<input type="text" name="" placeholder="请您输入验证码">
					<button class="btn btn-red">验证码</button>
					<i class="iconfont icon-mima"></i>
				</div>
				<div class="form-row">
					<input type="text" name="" placeholder="请您输入密码">
					<i class="iconfont icon-mima"></i>
					<em class="iconfont icon-mima-chakanyincang"></em>
				</div>
				<div class="form-row">
					<button type="button" class="btn btn-gray btn-reg">注册</button>
				</div>
				<p class="tip">
					已经注册<a href="javascript:;">在此登录</a>
					</span>	
				</p>
			</form>
		</div>
		<div class="dialog-close">
			<i class="iconfont icon-guanbi"></i>
		</div>
	</div>
</div>

