<header class="header-top">
	<a href="javascript:;" class="logo"><img src="/img/logo.png"></a>	
	<div class="top-middle">
		<div class="search-box">
			<input class="search-bar j-e-search" placeholder="请输入搜索内容">
			<a href="/search" class="search-btn">
				<i class="iconfont icon-sousuo"></i>
			</a>
		</div>
		<div class="top-cat">
			<a href="javascript:;" class="cur">文章</a>
			<a href="javascript:;">问答</a>
			<a href="javascript:;">社群</a>
			<a href="javascript:;">直播</a>
		</div>
	</div>
	<div class="write">
		<a href="/howtowrite">
			<i class="iconfont icon-xiezuo"></i>
			<span>写文章</span>
		</a>
	</div>
	<ul class="top-menu">
		<li>
			<a href="javascript:;" class="ico">
				<i class="iconfont icon-shoucang"></i>
			</a>	
		</li>
		<li>
			<a href="javascript:;" class="ico">
				<i class="iconfont icon-xiaoxitongzhi"></i>
			</a>
		</li>
		<li class="private">
			<a href="javascript:;" class="ico">
				<i class="iconfont icon-sixin"></i>
			</a>
			<div class="private-box">
				<h2 class="private-box-tit">
					我的私信	
				</h2>
				<div class="private-box-cnt">
					<dl>
						<dt>
							<img src="/img/avatar2.png">	
						</dt>
						<dd>
							<h3>雷坤</h3>
							<p>老子吃火锅，你吃火锅底料。我对你老子吃火锅，你吃火锅底料。我对你</p>		
						</dd>	
					</dl>
					<dl>
						<dt>
							<img src="/img/avatar2.png">	
						</dt>
						<dd>
							<h3>雷坤</h3>
							<p>老子吃火锅，你吃火锅底料。我对你老子吃火锅，你吃火锅底料。我对你</p>		
						</dd>	
					</dl>
				</div>
				<div class="private-box-foot">
					<a href="javascript:;" class="write-private-msg">
						<i class="iconfont icon-pencil"></i>
						<span>写新私信</span>
					</a>
					<a href="javascript:;" class="see-all-private">
						查看全部私信
					</a>	
				</div>
			</div>
		</li>
		<li class="login-w" style="display: none;">
			<button class="login j-e-login">登录</button>
			<button class="sign-up j-e-register">加入蜂人院</button>	
		</li>
	</ul>
	<div class="user">
		<div class="select-container">
			<div class="active-option">
				<img src="/img/avatar2.png">
				<span>雷神</span>
				<i class="caret"></i>
			</div>
			<ul class="select-options">
				<li>
					<a href="/user">
						<i class="iconfont icon-gerenzhongxin"></i>
						<span>个人中心</span>	
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-shezhi"></i>
						<span>设置</span>	
					</a>
				</li>
				<li>
					<a href="javascript:;">
						<i class="iconfont icon-tuichu"></i>
						<span>退出</span>	
					</a>
				</li>
			</ul>
		</div>	
	</div>
</header>

