<header class="header-top">
	<a href="javascript:;" class="logo"><img src="/img/logo.png"></a>	
	<div class="top-middle">
		<div class="search-box">
			<input class="search-bar" placeholder="请输入搜索内容">
			<div class="search-btn">
				<i class="iconfont icon-sousuo"></i>
			</div>
		</div>
		<div class="top-cat">
			<a href="javascript:;" class="cur">文章</a>
			<a href="javascript:;">问答</a>
			<a href="javascript:;">社群</a>
			<a href="javascript:;">直播</a>
		</div>
	</div>
	<div class="top-menu">
		<a href="javascript:;">
			<i class="iconfont icon-shoucang"></i>
		</a>
		<a href="javascript:;">
			<i class="iconfont icon-xiaoxitongzhi"></i>
		</a>
		<a href="javascript:;">
			<i class="iconfont icon-sixin"></i>
		</a>
	</div>
</header>

