@import '../common/common.less';
.user-edit-w{
	background: #f2f2f2;
	padding: 14px 0 100px 0;
	.user-edit{
		width: 1000px;
		margin: 0 auto;
		background: #fff;
		border-radius: 5px;
		min-height: 1000px;
		.flex();
		padding: 30px 80px;
		box-sizing: border-box;
		justify-content: flex-start;
		align-items: flex-start;
		.edit-avatar{
			border-radius: 50%;
			background: #e7e7e7;	
			position: relative;
			z-index: 1;	
			margin: 0 18px 0 0;
			.avatar-pic{
				display: block;
				position: relative;
				z-index: 1;
				.avatar-pic-cover{
					position: absolute;
					z-index: 1;
					left: 0;
					top: 0;
					height: 100%;
					width: 100%;
					.flex-column();
					justify-content: center;
					align-items: center;
					color: #fff;
					background: rgba(0,0,0,0.5);
					border-radius: 50%;
					i{
						margin: 0 0 5px 0;
						font-size: 30px;
					}
				}
			}
		}
		.edit-detail{
			flex: 1 1 auto;
			.edit-detail-tit{
				.flex();
				justify-content: space-between;
				align-items: flex-start;
				h2{
					color: #273d4b;
					font-size: 24px;
					line-height: 66px;
					font-weight: 600;
				}
				a{
					font-size: 16px;
					color: #87969d;
					&:hover{
						color: #1fab89;
					}
				}
			}
			.edit-detail-cnt{
				.edit-item{
					.flex();
					justify-content: flex-start;
					padding: 28px 0;
					border-bottom: 1px solid #f2f2f2;
					.edit-item-text{
						flex: 0 0 170px;
					}
					.edit-item-info{
						flex: 1 1 auto;
						a{
							color: #1fab89;
						}
						.item-info-update{
							.radio-w{
								.flex();
								justify-content: flex-start;
								aligin-items: center;
								margin: 0 0 20px 0;
								.cell-radio{
									margin: 0 20px 0 0;
									input[type=radio]{
										width: 18px;
										height: 18px;
										position: relative;
										overflow: visible;
										border: 0;
										background: 0 0;
										-webkit-appearance: none;
										vertical-align: middle;
										&:before{
											content: "";
											display: block;
											width: 16px;
											height: 16px;
											border: 1px solid #000;
											border-radius: 13px;
											background-clip: padding-box;
											position: absolute;
											left: 0;
											top: 0;
											background: #fff;
										}
										&:checked{
											&:after{
												content: "";
												display: block;
												width: 4px;
												height: 4px;
												background: #000;
												border-radius: 7px;
												position: absolute;
												left: 7px;
												top: 7px;
											}
										}
									}
									span{
										vertical-align: middle;
										color: #273d4b;
									}
								}
							}
							.inp{
								border-radius: 5px;
								border: 1px solid #e5e8ea;
								padding: 8px 5px;
								color: #273d4b;
								font-size: 16px;
								background: #fff;
								&:focus{
									border: 1px solid #87969d;
								}
							}
							.inp-large{
								width: 698px;
							}
							.inp-middle{
								width: 458px;
							}
							.inp-small{
								width: 278px;
							}
							.mb20{
								margin-bottom: 20px;
							}
							.mr20{
								margin-right: 20px;
							}
							.block{
								display: block;
							}
							button{
								border: none;
								padding: 4px 16px;
								border-radius: 5px;
								cursor: pointer;
								color: #87969d;
								font-size: 16px;
								background: #fff;
								border: 1px solid #87969d;
								margin: 0 20px 0 0;
							}
							.btn-save{
								margin: 0 20px 0 0;
								background: #1fab89;
								color: #fff;
								border: 1px solid #1fab89;
							}
							.textarea-box{
								border: 1px solid #e5e8ea;
								width: 694px;
								resize: none;	
								padding: 10px;
								margin: 20px 0;
								border-radius: 5px;
								height: auto;
								overflow: auto;
								background: #fff;
								&:-moz-placeholder {
									/* Mozilla Firefox 4 to 18 */
									color: #99a6ab !important;
									font-family: '微软雅黑';
								}
								&::-moz-placeholder {

									/* Mozilla Firefox 19+ */
									color: #99a6ab !important;
									font-family: '微软雅黑';
								}
							}
						}
					}
					&:last-child{
						border-bottom: none;
					}
				}
			}
		}
	}	
}


