{% extends './layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/dist/css/index.css">
{% endblock%}

{% block body %}
	<div class="index-w">
		<div class="source-list-w">
			<div class="source-list">
				<header class="source-list-header">
					<div class="filter">
						<i class="iconfont icon-sousuo"></i>
						<input class="filter-text j-e-search-focus"  placeholder="搜索类别">
					</div>
				</header>
				<div class="source-list-cnt scrollbar">
					{% for catList in leftSide %}
						<div class="source-list-box">
							<div class="list-box-tit j-e-cat-click">
								<i class="iconfont icon-{{catList.icon}}"></i>
								<h2>{{catList.name}}</h2>
								<em class="arrow arrow-up"></em>
							</div>
							<ul class="list-box-cnt j-e-cat-list-slide">
								{% for item in catList.data %}
								<li class="list-item">
									<a href="javascript:;">
										{% if item.icon %}
											<em class="bg-{{catList.icon}}">
												<i class="iconfont icon-{{item.icon}}"></i>
											</em>	
										{% endif %}										
										<h4>{{item.name}}</h4>
										<span class="tootip tootip-left" data-tooltip="{{item.tooltip}}">
											<i class="iconfont icon-{{item.tooltipIcon}}"></i>
										</span>	
									</a>
								</li>
								{% endfor %}
							</ul>
						</div>
					{% endfor %}
				</div>
			</div>	
		</div>
		<div class="list-column">
			<div class="list-column-header">
				<div class="toolbar-w">
					<div class="subsources">
						<div class="select-container">
							<div class="active-option">
								<span class="option-text j-e-select-text">介绍</span>
								<i class="caret"></i>
							</div>
							<div class="select-options">
								<ul class="select-options-list">
									<li class="select-option j-e-select-click">
										<span class="option-text">安装配置</span>
									</li>	
									<li class="select-option j-e-select-click">
										<span class="option-text">问题解决</span>
									</li>
									<!-- <li class="select-option">
										<span class="option-text">练手</span>
									</li>	
									<li class="select-option">
										<span class="option-text">吐槽</span>
									</li>
									<li class="select-option">
										<span class="option-text">实际案例</span>
									</li>
									<li class="select-option">
										<span class="option-text">教程</span>
									</li>
									<li class="select-option">
										<span class="option-text">疑惑</span>
									</li> -->
								</ul>	
							</div>
						</div>
					</div>
					<div class="search-bar-w hide">
						<input type="text" name="" placeholder="请输入搜索关键字">	
					</div>
					<div  class="search-w">
						<a class="search-button j-e-search-key">
							<i class="iconfont icon-sousuo"></i>
						</a>
						<a class="hot-sorting">
							<i class="iconfont icon-zuixindongtai"></i>
							<span class="option-text">最新</span>
						</a>	
						<a class="search-close hide j-e-close-search-key">
							<i class="iconfont icon-guanbi2"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="column-container">
				<div class="content-inc">
					<div class="column-scrollable scrollbar">
						<ul class="list-column-cnt">
							<li> <!--visited-->
								<a href="javascript:;" class="news-box">
									<span class="number">1</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">2</span>
									<div class="article-info">
										<h5 class="article-tit">透过 js-beautify@1.7.0 的 Bug 看，npm默认的lock机制是否重要？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">3</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">4</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<div class="article-comment-avatar">
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<span class="total-num">
												+10
											</span>
										</div>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">5</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">6</span>
									<div class="article-info">
										<h5 class="article-tit">透过 js-beautify@1.7.0 的 Bug 看，npm默认的lock机制是否重要？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">7</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">8</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<div class="article-comment-avatar">
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<span class="total-num">
												+10
											</span>
										</div>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">9</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">10</span>
									<div class="article-info">
										<h5 class="article-tit">透过 js-beautify@1.7.0 的 Bug 看，npm默认的lock机制是否重要？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">11</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">12</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<div class="article-comment-avatar">
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<span class="total-num">
												+10
											</span>
										</div>
									</div>
									<div class="article-tag tootip tootip-left" data-tooltip="aaaaa">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
						</ul>	
					</div>
					<div class="column-default hide">
						<div class="column-default-info">
							<!-- <img src="https://usepanda.com/app/img/panda-face-hushed.svg">	 -->
						</div>			
					</div>
				</div>	
			</div>
		</div>
		<div class="article-preview">
			<div class="article-preview-detail">
				<div class="article-preview-header">
					<div class="preview-header-icon">
						<a href="javascript:;">
							<i class="iconfont icon-shoucang"></i>
						</a>
						<a href="javascript:;">
							<i class="iconfont icon-shuxie"></i>	
						</a>
						<a href="/a/fe/vue/detail/1" target="_blank">
							<i class="iconfont icon-fangda"></i>
						</a>
						<a href="javascript:;">
							<i class="iconfont icon-fenxiang"></i>
						</a>
					</div>
				</div>	
				<div class="article-preview-cnt scrollbar">
					<div class="article">
						<h1 class="tit">
							如何评价百度刚刚开源的mobile-deep-learning？	
						</h1>
						<div class="author">
							<a href="javascript:;" class="avatar">
								<img src="/img/avatar2.png">
							</a>
							<div class="info">
								<span class="origin">知乎</span>
								<span class="publish-time"> 2017-9-27</span>
							</div>
							<a href="javascript:;" class="btn btn-follow">+关注</a>
						</div>
						<div class="show">
							<p>最近做了一个<a href="https://github.com/opendigg/awesome-github-vue" target="_blank">Vue开源项目库汇总</a>，里面集合了<a href="http://www.opendigg.com/" target="_blank">OpenDigg</a> 上的优质的<a href="http://www.opendigg.com/tags/front-vue" target="_blank">Vue开源项目库</a>，方便移动开发人员便捷的找到自己需要的项目工具等，感兴趣的可以到GitHub上给个star。</p>
						<h3>UI组件</h3>
						<ul>
							<li>
								<a href="https://github.com/ElemeFE/element" target="_blank">element</a> ★9305 - 饿了么出品的Vue2的web UI工具套件 
							</li>
							<li>
								<a href="https://github.com/airyland/vux" target="_blank">Vux</a> ★6802 - 基于Vue和WeUI的组件库
							</li>
							<li>
								<a href="https://github.com/ElemeFE/mint-ui" target="_blank">mint-ui</a> ★4776 - Vue 2的移动UI元素
							</li>
							<li>
								<a href="https://github.com/iview/iview" target="_blank">iview</a> ★4458 - 基于 Vuejs 的开源 UI 组件库
							</li>
							<li>
								<a href="https://github.com/JosephusPaye/Keen-UI" target="_blank">Keen-UI</a> ★2363 - 轻量级的基本UI组件合集 
							</li>
						</ul>
						</div>
						<div class="tag">
							<a href="javascript:;">前端</a>
							<a href="javascript:;">百度</a>
							<a href="javascript:;">深度学习(Deep Learning)</a>
						</div>
						<div class="share">
							<a href="javascript:;">
								<i class="iconfont icon-shoucang"></i>
							</a>
							<a href="javascript:;">
								<i class="iconfont icon-fenxiang"></i>
							</a>	
						</div>
						<div class="like">
							<a href="javascript:;" class="btn btn-like">
								<i class="iconfont icon-dianzanhou"></i>
								<span>99</span>
							</a>
						</div>
						<div class="comment">
							<div class="comment-tit">
								<span>66条评论</span>
								<em class="line"></em>	
							</div>
							<form class="new-comment">
								<a class="avatar"><img src="/img/avatar2.png"></a>
								<div class="write-msg">
									<textarea class="js-e-commentfocus" placeholder="写下你的评论..."></textarea>	
									<div class="send-detail-w js-e-comment-slide">
										<div class="send-detail">
											<a class="emoji" href="javascript:;">
												<i class="iconfont icon-biaoqing"></i>
											</a>
											<div class="btn-w">
												<a class="btn cancel js-e-commentcancel">取消</a>
												<a class="btn btn-send">发表</a>	
											</div>
										</div>	
									</div>
								</div>
							</form>
							<div class="comment-list">
								<div class="comment-w">
									<div class="comment-box">
										<div class="author">
											<a href="javascript:;" class="avatar">
												<img src="/img/avatar2.png">
											</a>
											<div class="info">
												<a href="javascript:;">雷神</a>
												<span>1楼 1小时前</span>
											</div>
										</div>
										<div class="comment-wrap">
											<p>可以体验下搜索框右侧的相机按扣，弹出拍照界面里点下自动排，然后会有一个端上的主体定位等着你</p>
											<div class="tool-group">
												<a>
													<i class="iconfont icon-dianzanhou"></i>
													<span>71人赞</span>
												</a>
												<a class="j-e-repeat" data-type="1" href="javascript:;">
													<i class="iconfont icon-huifu"></i>
													<span>回复</span>
												</a>
											</div>
										</div>
									</div>
									<div class="sub-comment-list">
										<div class="sub-comment-box">
											<p>
												<a href="javascript:;">地虎：</a>
												<span>可以体验下搜索框右侧的相机按扣，弹出拍照界面里点下自动排，然后会有一个端上的主体定位等着你</span>
											</p>
											<div class="sub-tool-group">
												<a>
													<i class="iconfont icon-dianzanhou"></i>
													<span>71人赞</span>
												</a>
												<a class="j-e-repeat" data-type="2" href="javascript:;">
													<i class="iconfont icon-huifu"></i>
													<span>回复</span>
												</a>
											</div>	
										</div>
										<div class="more-comment">
											<a class="add-comment-btn j-e-commentadd">
												<i class="iconfont icon-pencil"></i>
												<span>添加新评论</span>
											</a>
											<span class="line-wrap">
												还有<em class="moreover-num">5</em>条评论，<a href="javascript:;" class="expand-view j-e-unfolded ">展开查看</a>
											</span>
										</div>
										<div class="new-comment-w">
											<form class="new-comment">
												<div class="write-msg">
													<textarea class="js-e-commentfocus" placeholder="写下你的评论..."></textarea>	
													<div class="send-detail-w js-e-comment-slide">
														<div class="send-detail">
															<a class="emoji" href="javascript:;">
																<i class="iconfont icon-biaoqing"></i>
															</a>
															<div class="btn-w">
																<a class="btn cancel js-e-commentcancel">取消</a>
																<a class="btn btn-send">发表</a>	
															</div>
														</div>	
													</div>
												</div>
											</form>	
										</div>
									</div>	
								</div>
								
							</div>
						</div>
					</div>
				</div>	
			</div>
			<div class="article-preview-default hide">
				<div class="empty-pic"></div>	
			</div>
		</div>
	</div>	
	{% include "./global/dialog.html" ignore missing %}

{% endblock %}



{% block js %}
<script type="text/javascript" src="/dist/js/index.js"></script>
{% endblock %}