{% extends './layout.html' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/dist/css/index.css">
{% endblock%}

{% block body %}
	<div class="index-w">
		<div class="source-list-w">
			<div class="source-list">
				<header class="source-list-header">
					<div class="filter">
						<i class="iconfont icon-sousuo"></i>
						<input class="filter-text" placeholder="搜索类别">
					</div>
				</header>
				<div class="source-list-cnt">
					<div class="source-list-box">
						<div class="list-box-tit">
							<i class="iconfont icon-qianduan bold"></i>
							<h2>前端</h2>
							<em class="arrow arrow-up"></em>
						</div>
						<ul class="list-box-cnt">
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item active">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
							<li class="list-item">
								<img src="https://usepanda.com/img/source-icons/svg/designerNews.svg">
								<h4>Designer News</h4>
							</li>
						</ul>
					</div>
					<div class="source-list-box">
						<div class="list-box-tit">
							<i class="iconfont icon-houduan bold"></i>
							<h2>后端</h2>
							<em class="arrow arrow-left"></em>
						</div>
					</div>
					<div class="source-list-box">
						<div class="list-box-tit">
							<i class="iconfont icon-shujuku"></i>
							<h2>数据库</h2>
							<em class="arrow arrow-left"></em>
						</div>
					</div>
					<div class="source-list-box">
						<div class="list-box-tit">
							<i class="iconfont icon-jiagou"></i>
							<h2>架构</h2>
							<em class="arrow arrow-left"></em>
						</div>
					</div>
					<div class="source-list-box">
						<div class="list-box-tit">
							<i class="iconfont icon-footer-news"></i>
							<h2>即时快讯</h2>
							<em class="arrow arrow-left"></em>
						</div>
					</div>	
				</div>
			</div>	
		</div>
		<div class="list-column">
			<div class="list-column-header">
				<div class="toolbar-w">
					<div class="subsources">
						<div class="select-container">
							<div class="active-option">
								<span class="option-text">home</span>
								<i class="caret"></i>
							</div>
						</div>
					</div>
					<div class="search-button">
						<i class="iconfont icon-sousuo"></i>
					</div>	
					<div class="hot-sorting">
						<i class="iconfont icon-zuixindongtai"></i>
						<span class="option-text">最新</span>
					</div>	
				</div>
			</div>
			<div class="column-container">
				<div class="content-inc">
					<div class="column-scrollable">
						<ul class="list-column-cnt">
							<li class="visited">
								<a href="javascript:;" class="news-box">
									<span class="number">1</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">2</span>
									<div class="article-info">
										<h5 class="article-tit">透过 js-beautify@1.7.0 的 Bug 看，npm默认的lock机制是否重要？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">3</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">4</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<div class="article-comment-avatar">
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<span class="total-num">
												+10
											</span>
										</div>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">5</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">6</span>
									<div class="article-info">
										<h5 class="article-tit">透过 js-beautify@1.7.0 的 Bug 看，npm默认的lock机制是否重要？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">7</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">8</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<div class="article-comment-avatar">
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<span class="total-num">
												+10
											</span>
										</div>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">9</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">10</span>
									<div class="article-info">
										<h5 class="article-tit">透过 js-beautify@1.7.0 的 Bug 看，npm默认的lock机制是否重要？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">11</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<p class="article-detail">
											<span>99赞</span>
											<span>66评论</span>
											<span>19小时前</span>
											<span>知乎</span>
										</p>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
							<li>
								<a href="javascript:;" class="news-box">
									<span class="number">12</span>
									<div class="article-info">
										<h5 class="article-tit">如何评价百度刚刚开源的mobile-deep-learning？</h5>
										<div class="article-comment-avatar">
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<em>
												<img src="/img/avatar1.png">
											</em>
											<span class="total-num">
												+10
											</span>
										</div>
									</div>
									<div class="article-tag">
										<i class="iconfont icon-shoucang"></i>
									</div>
								</a> 
							</li>
						</ul>	
					</div>
				</div>	
			</div>
		</div>
		<div class="article-preview">
			<div class="article-preview-header">
				<div class="preview-header-icon">
					<a href="javascript:;">
						<i class="iconfont icon-shoucang"></i>
					</a>
					<a href="javascript:;">
						<i class="iconfont icon-shuxie"></i>	
					</a>
					<a href="javascript:;">
						<i class="iconfont icon-fangda"></i>
					</a>
					<a href="javascript:;">
						<i class="iconfont icon-fenxiang"></i>
					</a>
				</div>
			</div>	
			<div class="article-preview-cnt">
				<div class="article">
					<h1 class="tit">
						如何评价百度刚刚开源的mobile-deep-learning？	
					</h1>
					<div class="author">
						<a href="javascript:;" class="avatar">
							<img src="/img/avatar2.png">
						</a>
						<div class="info">
							<span class="origin">知乎</span>
							<span class="publish-time"> 2017-9-27</span>
						</div>
						<a href="javascript:;" class="btn btn-follow">+关注</a>
					</div>
					<div class="show">
						<p>曾经听过一个英语大神说过这样一句话――我最享受的一件事情就是，当我说我是一个土生土长的中国人时，然后，在一旁看着一群美国人不可思议地长大嘴巴，嘴里不停地问――Really？</p><p>其实会几句英语并不难，难就难在可以把英语说的如同美国人一般地道。就如同上面所说，一个中国人的英语，足以使美国人惊叹。</p><p>很多人对于学习英语，一般会推荐两种最实用的方法：一是出国留学，亲身体会当地的风土人情，不出一个月，口语水平足以碾压在国内的一年学习；二是看遍有美国特色的美国经典老剧。</p><p>鉴于各方面情况，大多数人会选择后一种情况，虽比前一种慢一些，但却方便、实际一些，受众也更广一些。</p><p>但美国电影很多，大片也不少。有些只适合赏心悦目，有些才适合用来学习。下面是我亲身体会的几部适合学习的经典美剧。</p><p>01&nbsp; &nbsp;  <b>&nbsp; 《老友记》</b></p><p>&#65279;</p><div class="image-package">
						<img src="//upload-images.jianshu.io/upload_images/4316906-cd6e734167b746ec.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;"><br><div class="image-caption">《老友记》海报</div>
						</div><p>《老友记》是一部美国电视情景喜剧，由大卫·克莱恩和玛塔·卡芙曼创作，珍妮佛·安妮斯顿、柯特妮·考克斯、丽莎·库卓、马特·勒布朗、马修·派瑞和大卫·史威默主演。故事以生活在纽约曼哈顿的六个老友为中心，描述他们携手走过的十年风雨历程。全剧共10季236集。<br></p><p>整部剧都是以人物之间的对话为主，语言都很简短，没有长句，而且人物语言都是用的简单词汇。</p><p>而且，其中存在很多美国人地道的待人接物处事的原则和人生哲学。该剧传递的美国一些文化哲学比较浓厚，很适合大家，提高听力的同时，也会很容易了解美国的一些本土文化。</p><p><b>另外，如果是英语处在初级水平的同学，该剧是个首要选择。它给予了一个提高发音和语言交流的平台。</b></p><p>该剧现在十季都已经完全更新，如果一口气看完的同学会注意到这样一个问题：该剧后几季在一些用语上有些出入。因为前几季的用语比较具有地方化，不过美国现在已经逐渐淘汰或很少用了，所以，大家看时，可以留意一下变化。</p><p><br></p><p>02&nbsp; &nbsp; <b>&nbsp; &nbsp;  《生活大爆炸》</b></p><p>&#65279;</p><div class="image-package">
						<img src="//upload-images.jianshu.io/upload_images/4316906-fd49f2d3a96a216f.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;"><br><div class="image-caption">《生活大爆炸》海报</div>
						</div><p>《生活大爆炸》（英文：The Big Bang Theory 简称：TBBT）是由马克·森卓斯基执导，查克·罗瑞、比尔·布拉迪编剧，吉姆·帕森斯、约翰尼·盖尔克奇、卡蕾·措科、西蒙·赫尔伯格、昆瑙·内亚等共同主演的美国情景喜剧。<br></p><p>该剧讲述的是四个宅男科学家和一个美女邻居发生的搞笑生活故事。</p><p>该剧现在发布的总共十季。</p><p>整部剧的情节都是比较的夸张的，语速相对来说，也比较快。</p><p>但是台词比较丰富。从他们的台词对话中可以<b>对美国文化有一个较深入的了解</b>。如果是理科生，完全可以<b>拿来当成听力材料。</b>因为里面4个天才科学家（Sheldon、Leonard、Howard、Raj）口中吐出太对物理和数学知识。</p><p><br></p><p>03&nbsp; &nbsp; &nbsp; &nbsp; <b>&nbsp;  《破产姐妹》</b></p><p>&#65279;&#65279;</p><div class="image-package">
						<img src="//upload-images.jianshu.io/upload_images/4316906-3d58ba550a0a071e.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;"><br><div class="image-caption">《破产姐妹》海报</div>
						</div><p>本剧设定地点是在纽约市布鲁克林区的威廉斯堡，讲述两个身份背景完全不同的都市女孩的故事。Max（凯特·戴琳斯饰）生在穷人家庭，而Caroline（贝丝·比厄饰）生在富人家庭。Caroline家道中落，令她不得不去Max工作的饭店打工赚钱。两人商量着筹集25万美元资金来共同开创新事业。</p><p>很励志的一部美剧，现已更新到第六季。</p><p>剧中大多数是主角在聊天，长句较少，短句普遍，词汇很简单，却具有浓厚的风土人情。</p><p><b>话题贴近生活，有丰富的俚语笑话、流行语和文化背景知识，</b>很适合初学者的地方：点餐是汉堡还是牛肉；逛街哪件衣服好看、价格怎样；倒垃圾时认准垃圾桶等话题都很实用。</p><p>而且最重要的是，每一集时长在22分钟左右，会让人感到很轻松，不会觉得过度疲劳以至于产生厌倦心里。</p><p><br></p><p>04&nbsp; &nbsp; &nbsp;  <b>&nbsp;  《吸血鬼日记》</b></p><p>&#65279;</p><div class="image-package">
						<img src="//upload-images.jianshu.io/upload_images/4316906-a0c46034a6db5038.jpeg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;"><br><div class="image-caption">《吸血鬼日记》海报</div>
						</div><p>该剧故事以艾琳娜·吉尔伯特，一个在两个吸血鬼兄弟间左右为难的高中女孩为中心展开。<br></p><p>现已全部更新至八季。是我和朋友最喜欢的一部美剧。</p><p>这部电影的专业性不是很强，认真看会发现题材应该属于青春偶像剧一类的。<b>男女主很帅，如果是对英语本身就超级排斥的一类人，这部剧倒是挺适合的，</b>可以边欣赏边学习英语。</p><p><br></p><p>05&nbsp; &nbsp; &nbsp;  <b> 《摩登家庭》</b></p><p>&#65279;</p><div class="image-package">
						<img src="//upload-images.jianshu.io/upload_images/4316906-312cd354a95003ea.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;"><br><div class="image-caption">《摩登家庭》海报</div>
						</div><p>该剧讲述了三对各有不同的美国家庭：一对普通父母与三个孩子、一对同性恋夫夫从越南领养了养女组成三口之家，一个60岁的老头迎娶了位热辣的哥伦比亚异国美女，美女还带着个捣蛋的11岁胖儿子。最奇妙的是，其实他们是一个大家庭。<br></p><p>现已更新第九季。</p><p>该剧以幽默、诙谐的情节设计，和<b>地道的原汁原味的美式发音，</b>相比较表达已经不在那么时尚的《老友记》，此剧浓郁的美式幽默、温馨的情节、贴近生活的表达都是很值得留学党学习的。</p><p>而且，摩登的定位本身就已经说明故事的家庭不是传统意义上的美国中产阶级家庭，这三个家庭多年以来随着播出慢慢变化等。具有浓厚的教育价值。</p><p><br></p><p>06&nbsp; &nbsp;  <b>&nbsp; 《白宫风云》</b></p><p>&#65279;&#65279;</p><div class="image-package">
						<img src="//upload-images.jianshu.io/upload_images/4316906-794b4d9086e11dfc.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;"><br><div class="image-caption">《白宫风云》海报</div>
						</div><p>《白宫风云》（英文：The West Wing）的场景设定在美国总统官邸白宫的西翼，该处是虚构人物美国民主党总统约书亚·巴特勒的椭圆形办公室和总统高级幕僚办公区所在地。</p><p>是一部政治色彩浓厚的电影，现已更新至第七季。</p><p>整部剧基本上都是以对话的形式展示，而且语速非常快，充斥着辩论和演讲的气息。</p><p><b>另外剧中的词汇也非常高级，听起来比较费劲。不太适合初学者。不过，有点英语基础的人</b>，可以试着多看几遍，作用将会非常大，极具有挑战性的一部剧。</p><p>而且，该剧里面涉及到的文化、政治色彩浓厚，极具有考察价值。</p><p><br></p><p>07&nbsp; &nbsp; &nbsp;  <b> 《女男变错身》</b></p><p>&#65279;</p><div class="image-package">
						<img src="//upload-images.jianshu.io/upload_images/4316906-91ec39139c15be9a.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1080/q/50" style="cursor: zoom-in;"><br><div class="image-caption">《女男变错身》海报</div>
						</div><p>《女男变错身》是由尼克·胡兰执导，凯文·席格斯、萨米拉·阿姆斯特朗等主演的青春爱情片。&#65279;<br></p><p>该片讲述了伍迪和妮儿是一对冤家，突然有一天男变女、女变男两人交换身体，并互相进行破坏大作战的故事。</p><p>现只有第一部。</p><p>该片主要讲述的是男孩与女孩之间交往的时候，需要如何有效的沟通。全篇的语句挺适中的，不算快，词汇简单，长句也不多。初学者和有基础的都可以看。</p><p>推选该剧最重要的是<b>，它非常适合留学的学生党，清楚地告诉了我们在和美国的男女生交往时，需要注意哪些问题。</b></p><p><br></p><blockquote>PS：前几部都很多，不过《老友记》几乎是所有老师首推的一部。美剧很多，这推的不全，欢迎大家前来补充</blockquote>
					</div>
					<div class="tag">
						<a href="javascript:;">前端</a>
						<a href="javascript:;">百度</a>
						<a href="javascript:;">深度学习(Deep Learning)</a>
					</div>
					<div class="share">
						<a href="javascript:;">
							<i class="iconfont icon-shoucang"></i>
						</a>
						<a href="javascript:;">
							<i class="iconfont icon-fenxiang"></i>
						</a>	
					</div>
					<div class="like">
						<a href="javascript:;" class="btn btn-like">
							<i class="iconfont icon-dianzanhou"></i>
							<span>99</span>
						</a>
					</div>
					<div class="comment">
						<div class="comment-tit">
							<span>66条评论</span>
							<em class="line"></em>	
						</div>
						<form class="new-comment">
							<a class="avatar"><img src="/img/avatar2.png"></a>
							<div class="write-msg">
								<textarea placeholder="写下你的评论..."></textarea>	
								<div class="send-detail">
									<a class="emoji" href="javascript:;">
										<i class="iconfont icon-biaoqing"></i>
									</a>
									<div class="btn-w">
										<a class="btn cancel">取消</a>
										<a class="btn btn-send">发表</a>	
									</div>
								</div>
							</div>
						</form>
						<div class="comment-list">
							<div class="comment-w">
								<div class="comment-box">
									<div class="author">
										<a href="javascript:;" class="avatar">
											<img src="/img/avatar2.png">
										</a>
										<div class="info">
											<a href="javascript:;">雷神</a>
											<span>1楼 1小时前</span>
										</div>
									</div>
									<div class="comment-wrap">
										<p>可以体验下搜索框右侧的相机按扣，弹出拍照界面里点下自动排，然后会有一个端上的主体定位等着你</p>
										<div class="tool-group">
											<a>
												<i class="iconfont icon-dianzanhou"></i>
												<span>71人赞</span>
											</a>
											<a>
												<i class="iconfont icon-huifu"></i>
												<span>回复</span>
											</a>
										</div>
									</div>
								</div>
								<div class="sub-comment-list">
									<div class="sub-comment-box">
										<p>
											<a href="javascript:;">天王盖地虎：</a>
											<span>可以体验下搜索框右侧的相机按扣，弹出拍照界面里点下自动排，然后会有一个端上的主体定位等着你</span>
										</p>
										<div class="sub-tool-group">
											<a>
												<i class="iconfont icon-dianzanhou"></i>
												<span>71人赞</span>
											</a>
											<a>
												<i class="iconfont icon-huifu"></i>
												<span>回复</span>
											</a>
										</div>	
									</div>
									<div class="sub-comment-box">
										<p>
											<a href="javascript:;">天王盖地虎：</a>
											<span><a href="javascript:;">@嘻嘻哈哈</a>可以体验下搜索框右侧的相机按扣，弹出拍照界面里点下自动排，然后会有一个端上的主体定位等着你</span>
										</p>
										<div class="sub-tool-group">
											<a>
												<i class="iconfont icon-dianzanhou"></i>
												<span>71人赞</span>
											</a>
											<a>
												<i class="iconfont icon-huifu"></i>
												<span>回复</span>
											</a>
										</div>	
									</div>
									<div class="more-comment">
										<a class="add-comment-btn">
											<i class="iconfont icon-pencil"></i>
											<span>添加新评论</span>
										</a>
										<span class="line-wrap">
											还有5条评论，<a href="javascript:;">展开查看</a>
										</span>
									</div>
									<form class="new-comment">
										<div class="write-msg">
											<textarea placeholder="写下你的评论..."></textarea>	
											<div class="send-detail">
												<a class="emoji" href="javascript:;">
													<i class="iconfont icon-biaoqing"></i>
												</a>
												<div class="btn-w">
													<a class="btn cancel">取消</a>
													<a class="btn btn-send">发表</a>	
												</div>
											</div>
										</div>
									</form>
								</div>	
							</div>
							<div class="comment-w">
								<div class="comment-box">
									<div class="author">
										<a href="javascript:;" class="avatar">
											<img src="/img/avatar2.png">
										</a>
										<div class="info">
											<a href="javascript:;">雷神</a>
											<span>1楼 1小时前</span>
										</div>
									</div>
									<div class="comment-wrap">
										<p>可以体验下搜索框右侧的相机按扣，弹出拍照界面里点下自动排，然后会有一个端上的主体定位等着你</p>
										<div class="tool-group">
											<a>
												<i class="iconfont icon-dianzanhou"></i>
												<span>71人赞</span>
											</a>
											<a>
												<i class="iconfont icon-huifu"></i>
												<span>回复</span>
											</a>
										</div>
									</div>
								</div>
								<div class="sub-comment-list">
									<div class="sub-comment-box">
										<p>
											<a href="javascript:;">天王盖地虎：</a>
											<span>可以体验下搜索框右侧的相机按扣，弹出拍照界面里点下自动排，然后会有一个端上的主体定位等着你</span>
										</p>
										<div class="sub-tool-group">
											<a>
												<i class="iconfont icon-dianzanhou"></i>
												<span>71人赞</span>
											</a>
											<a>
												<i class="iconfont icon-huifu"></i>
												<span>回复</span>
											</a>
										</div>	
									</div>
									<div class="sub-comment-box">
										<p>
											<a href="javascript:;">天王盖地虎：</a>
											<span><a href="javascript:;">@嘻嘻哈哈</a>可以体验下搜索框右侧的相机按扣，弹出拍照界面里点下自动排，然后会有一个端上的主体定位等着你</span>
										</p>
										<div class="sub-tool-group">
											<a>
												<i class="iconfont icon-dianzanhou"></i>
												<span>71人赞</span>
											</a>
											<a>
												<i class="iconfont icon-huifu"></i>
												<span>回复</span>
											</a>
										</div>	
									</div>
									<div class="more-comment">
										<a class="add-comment-btn">
											<i class="iconfont icon-pencil"></i>
											<span>添加新评论</span>
										</a>
										<span class="line-wrap">
											还有5条评论，<a href="javascript:;">展开查看</a>
										</span>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}

{% block js %}
<script type="text/javascript" src="/dist/js/index.js"></script>
{% endblock %}