<div class="attention-category-w hide">
	<div class="attention-category">
		<div class="category-box">
			<div class="category-box-tit">关注你感兴趣的分类</div>	
			<div class="category-box-cnt">
				<dl class="category-box-item">
					<dt>前端</dt>
					<dd>
						<a href="javascript:;" class="cur">React</a>
						<a href="javascript:;">Vue</a>
						<a href="javascript:;">Angular</a>
						<a href="javascript:;">Nodejs</a>
						<a href="javascript:;">webpack</a>
						<a href="javascript:;">微信小程序</a>
						<a href="javascript:;">css</a>
						<a href="javascript:;">koa</a>
						<a href="javascript:;">express</a>
						<a href="javascript:;">es6</a>
						<a href="javascript:;">egg</a>
						<a href="javascript:;">React</a>
						<a href="javascript:;">Vue</a>
						<a href="javascript:;">Angular</a>
						<a href="javascript:;">Nodejs</a>
						<a href="javascript:;">webpack</a>
						<a href="javascript:;">微信小程序</a>
						<a href="javascript:;">css</a>
						<a href="javascript:;">koa</a>
						<a href="javascript:;">express</a>
						<a href="javascript:;">es6</a>
						<a href="javascript:;">egg</a>
					</dd>
				</dl>
				<dl class="category-box-item">
					<dt>后端</dt>
					<dd>
						<a href="javascript:;">React</a>
						<a href="javascript:;">Vue</a>
						<a href="javascript:;">Angular</a>
						<a href="javascript:;">Nodejs</a>
						<a href="javascript:;">webpack</a>
						<a href="javascript:;">微信小程序</a>
						<a href="javascript:;">css</a>
						<a href="javascript:;">koa</a>
						<a href="javascript:;">express</a>
						<a href="javascript:;">es6</a>
						<a href="javascript:;">egg</a>
						<a href="javascript:;">React</a>
						<a href="javascript:;">Vue</a>
						<a href="javascript:;">Angular</a>
						<a href="javascript:;">Nodejs</a>
						<a href="javascript:;">webpack</a>
						<a href="javascript:;">微信小程序</a>
						<a href="javascript:;">css</a>
						<a href="javascript:;">koa</a>
						<a href="javascript:;">express</a>
						<a href="javascript:;">es6</a>
						<a href="javascript:;">egg</a>
					</dd>
				</dl>
			</div>
			<a href="javascript:;" class="btn j-e-checked-complete">完成</a>
			<div class="category-close j-e-category-close">
				<i class="iconfont icon-guanbi2"></i>
			</div>
		</div>	
	</div>
</div>