<div class="creat-collect">
    <div class="collect-list hide">
        <div class="list-tit">
            <h2>创建蜜仓</h2>
            <p>采集到你喜欢的蜜仓内</p>
        </div>
        <div class="list-cnt">
            <dl>
                <dt>
                    <p>视频</p>
                    <span>0内容</span>    
                </dt>
                <dd>
                    <a href="javascript:;" class="slected">已采集</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <p>视频</p>
                    <span>0内容</span>    
                </dt>
                <dd>
                    <a href="javascript:;">采集</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <p>视频</p>
                    <span>0内容</span>    
                </dt>
                <dd>
                    <a href="javascript:;">采集</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    <p>视频</p>
                    <span>0内容</span>    
                </dt>
                <dd>
                    <a href="javascript:;">采集</a>
                </dd>
            </dl>
        </div>
        <button type="button" class="btn-creat">创建新的蜜仓</button>
        <div class="collect-close">
            <i class="iconfont icon-guanbi"></i>
        </div>
    </div>
    <div class="collect-new">
        <div class="new-tit">
            <h2>创建蜜仓</h2>
            <p>采集到你喜欢的蜜仓内</p>   
        </div>  
        <div class="new-cnt">
            <input type="text" placeholder="创建新的采集蜜仓">
            <div class="cnt-btn-group">
                <a href="javascript:;">返回</a>
                <a href="javascript:;">创建</a>
            </div>
        </div>  
    </div>
</div>

