<div class="dialog-w hide">
	<div class="dialog-box">
		<div class="dialog">
			<div class="dialog-cnt">
				<div class="dialog-scene"></div>
				<h1 class="tit">注册</h1>
				<p class="des">干货都是留给有准备的人</p>
				<form class="form-box login-box hide" >
					<p class="err-tip">
						<i class="iconfont icon-cuowu"></i>
						<span>请输入正确的手机号</span>
					</p>
					<div class="form-row">
						<input type="text" name="" placeholder="请您输入账户">
						<i class="iconfont icon-yonghuming"></i>
					</div>
					<div class="form-row">
						<input type="text" name="" placeholder="请您输入密码">
						<i class="iconfont icon-mima"></i>
						<em class="iconfont icon-mima-chakanyincang"></em>
					</div>
					<div class="form-row justify-right">
						<a href="javascript:;">忘记密码</a>
					</div>
					<div class="form-row">
						<button type="button" class="btn btn-green btn-login">登录</button>
					</div>
					<p class="tip">
						想用手机注册账户<a href="javascript:;" class="j-e-register">注册</a>
						</span>	
					</p>
				</form>
				<form class="form-box reg-box">
					<p class="err-tip">
						<i class="iconfont icon-cuowu"></i>
						<span>请输入正确的手机号</span>
					</p>
					<div class="form-row">
						<input type="text" name="" placeholder="真实姓名或常用昵称">
						<i class="iconfont icon-yonghuming"></i>
					</div>
					<div class="form-row">
						<input type="text" name="" placeholder="手机号(仅支持大陆手机号)">
						<i class="iconfont icon-shoujihao"></i>
					</div>
					<div class="form-row">
						<input type="text" name="" placeholder="短信验证码">
						<button class="btn btn-green">验证码</button>
						<i class="iconfont icon-mima"></i>
					</div>
					<div class="form-row">
						<input type="text" name="" placeholder="密码不少于6位">
						<i class="iconfont icon-mima"></i>
						<em class="iconfont icon-mima-chakanyincang"></em>
					</div>
					<div class="form-row justify-right">
						已经注册?<a href="javascript:;" class="j-e-login">在此登录</a>
					</div>
					<div class="form-row">
						<button type="button" class="btn btn-gray btn-reg">注册</button>
					</div>
					<p class="tip">
						同意并接受<a>《服务条款》</a>
					</p>
				</form>
			</div>
			<div class="dialog-close j-e-dialog-close">
				<i class="iconfont icon-guanbi"></i>
			</div>
		</div>
	</div>	
</div>

